
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500;600;800;900&family=Space+Grotesk&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}

body{
    width: 100%;
    height: 100%;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-fluid{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0px;
}

.logo{
    width: 200px;
}

#toggleMenu{
    font-size: 1rem;
}

.fade-out{
    animation: transition 2s forwards;
}

@keyframes transition {
    form{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

#first-page-intro{
    width: 100vw;
    height: 100vh;
    position: fixed ;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    opacity: 1;
}

#ground-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    padding-top: 79px;
}
.ground-page > p:nth-child(1){
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    margin: 0px !important;
    align-items: center;
    justify-content: center;
    background-color: rgb(151, 97, 26);
}

.img-div{
    grid-area: img;
    height: auto;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.h2-div{
    grid-area: h2;
    width: 100%;
    height: auto;
    border: 1px solid black;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    grid-area: p;
}

.img-div img{
    width: 120px;
}

.h2-div > h2{
    font-size: 1rem;
    font-weight: 500;
}

article{
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px black inset;
    background-color: aliceblue;
    border: 4px solid orange;
    padding: 30px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 'img h2'
                        'img p';
}

article:hover, article:focus{
    box-shadow: 0 0 50px black inset;
    border: 2px solid cornflowerblue;
}


nav > div > img{
    width: 34px;
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    z-index:1;
    top: 0px;
    width: 100%;
    background-color: aquamarine;
}
nav div{
    width: 100%;
    height: 100%;
    margin: 10px;
    background-color: azure;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:600px) {
    
}