
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500;600;800;900&family=Space+Grotesk&display=swap');

:root{
    --first: #6495ed;
    --second: #0E2954;
    --third: #333541;
    --fourth: #40404b;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}

body{
    width: 100%;
    height: 100%;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-fluid{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0px;
}

.logo{
    width: 200px;
}

#toggleMenu{
    font-size: 1rem;
}

.fade-out{
    animation: transition 2s forwards;
}

@keyframes transition {
    form{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

#first-page-intro{
    width: 100vw;
    height: 100vh;
    position: fixed ;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    opacity: 1;
}

#ground-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--second);
    padding-top: 79px;
    color: white;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    margin: 0px !important;
    align-items: center;
    justify-content: center;
    background-color: var(--second)
}

.img-div{
    grid-area: img;
    height: auto;
    display: flex;
    justify-content: center;
}

.h2-div{
    grid-area: h2;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: p;
}

.img-div img{
    width: 120px;
}

.h2-div > h2{
    font-size: 1rem;
    font-weight: 500;
}

article{
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px black inset;
    border: 1px solid black;
    padding: 30px;
    margin: 7px;
    background-color: var(--third);
    border: 3px var(--fourth) solid;
}

article > div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 'img h2'
                        'img p';
}

article:hover, article:focus{
    box-shadow: 0 0 20px var(--first) inset;
    border: 2px var(--first) solid ;
}


nav > div > img{
    width: 34px;
    animation: logoAnim 4s  infinite;
}
@keyframes logoAnim {
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(25deg);
    }
    75%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    z-index:1;
    top: 0px;
    background-color: var(--third);
}
nav div{
    width: 100%;
    height: 100%;
    margin: 10px;
    background-color: var(--third);;
    display: flex;
    justify-content: center;
}

#bookBtn, #contactBtn{
    background-color: #0E2954;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 2px;
    box-shadow: 7px 7px 0px black;
    border: 3px var(--fourth) solid;
}

#bookBtn:hover, #bookBtn:focus, #contactBtn:hover, #contactBtn:focus{
    box-shadow: 0 0 10px var(--first) inset;
    animation: clickBtn 0s linear forwards;
}

@keyframes clickBtn{
    from{
        transform: translate(0px, 0px);
    }
    to{
        transform: translate(7px, 7px);
    }
}


@media only screen and (max-width:600px) {
    
}